<%- include('../includes/admin/head.ejs') %>

<%- include('../includes/admin/navigation.ejs') %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Products</h1>
            </div>

            <div class="col-md-6 mt-1 d-flex justify-content-end align-items-center">
                <a href="/admin/add-product" class="btn btn-primary">Add Product</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Image</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(products.length > 0) { %>
                            <% let count = 1 %>
                            <% for(let product of products) { %>
                                
                                <tr>
                                    <td><%= count %></td>
                                    <td><%= product.product %></td>
                                    <td><img src="<%= product.imageUrl %>" alt="<%= product.product %>" height="50" /></td>
                                    <td><%= product.description %></td>
                                    <td><%= product.quantity %></td>
                                    <td><%= product.price %></td>
                                    <td>
                                        <a class="btn btn-success" href="/admin/edit-product/<%= product.id %>">Edit</a>
                                        <form method="post" class="d-inline" action="/admin/delete-product">
                                            <input type="hidden" name="id" id="id" value="<%= product.id %>" />
                                            <input type="submit" value="delete" class="btn btn-danger" />
                                        </form>
                                    </td>
                                </tr>
                                <% count++ %>
                            <% } %>    
                        <% } else {  %>
                            <tr>
                                <td colspan="7" class="text-center text-danger"><strong>No Records Found</strong></td>
                            </tr>
                        <% } %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<%- include('../includes/admin/footer.ejs') %>