<%- include('includes/head.ejs') %>

    <%- include('includes/navigation.ejs') %>

    <%- include('includes/banner.ejs') %>
    <main>
        <section>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% if(products.length > 0) { %> 
                    <% for (let product of products) { %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            
                            <!-- Product image-->
                            <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= product.title %></h5>
                                    <!-- Product price-->
                                    <%= product.price %> &#8377;
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto mb-2" href="/products/<%= product.id %>">View details</a>
                                    <%- include('includes/add-to-cart.ejs', {product: product}) %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } %>
                    <% } else { %> 
                        <div class="alert alert-primary" role="alert">
                            No Records found
                          </div>
                    <% } %>

                    
                    
                </div>
            </div>
        </section>
    </main>
<%- include('includes/footer.ejs') %>